In [168]:
import duckdb as ddb
import pandas as pd

con = ddb.connect(database=":memory:")

con.sql("""
CREATE TABLE program_beslut AS
    FROM 'data/resultat-ansokningsomgang-2020-2024-beslut.csv';
CREATE TABLE program_kommun AS
    FROM 'data/resultat-ansokningsomgang-2020-2024-diarie_kommun.csv';

CREATE TABLE kurser_beslut AS
    FROM 'data/resultat-for-kurser-inom-yh-2024-beslut.csv';
CREATE TABLE kurser_kommun AS
    FROM 'data/resultat-for-kurser-inom-yh-2024-diarie_kommun.csv';
""")

In [169]:
con.sql("""select * from kurser_beslut""").describe()

┌─────────┬───────────────┬──────────────────┬─────────┬─────────────────────────────────┬─────────────────────────────────────────────────┬───────────────────┬───────────────────┬────────────────────┬──────────────────────────┬────────────────────┬──────────────┬───────────┬────────────────────┬────────────────┐
│  aggr   │ Diarienummer  │ Ansökningsomgång │ Beslut  │      Utbildningsanordnare       │                 Utbildningsnamn                 │ Utbildningsområde │     YH-poäng      │ Beviljade platser  │ Beviljade platser totalt │       Start        │     Län      │  Kommun   │   Antal kommuner   │ Flera kommuner │
│ varchar │    varchar    │      double      │ varchar │             varchar             │                     varchar                     │      varchar      │      double       │       double       │          double          │       double       │   varchar    │  varchar  │       double       │    varchar     │
├─────────┼───────────────┼──────────────────┼─────────┼─────────────────────────────────┼─────────────────────────────────────────────────┼───────────────────┼───────────────────┼────────────────────┼──────────────────────────┼────────────────────┼──────────────┼───────────┼────────────────────┼────────────────┤
│ count   │ 1090          │           1090.0 │ 1090    │ 1090                            │ 1090                                            │ 1090              │            1090.0 │             1090.0 │                   1090.0 │             1090.0 │ 901          │ 901       │             1090.0 │ 1090           │
│ mean    │ NULL          │           2024.0 │ NULL    │ NULL                            │ NULL                                            │ NULL              │ 41.47798165137615 │ 21.980733944954128 │        36.19266055045872 │ 2024.2018348623853 │ NULL         │ NULL      │ 1.3412844036697247 │ NULL           │
│ stddev  │ NULL          │              0.0 │ NULL    │ NULL                            │ NULL                                            │ NULL              │ 18.64776619782181 │ 20.461493666408217 │        36.62709536730105 │ 0.4015538349292432 │ NULL         │ NULL      │ 0.8682979994370141 │ NULL           │
│ min     │ MYH 2024/1000 │           2024.0 │ false   │ ABF Göteborg Vuxenutbildning AB │ 3D Clo Fördjupning Modedesigner                 │ Data/IT           │              10.0 │                0.0 │                      0.0 │             2024.0 │ Blekinge     │ Angered   │                1.0 │ false          │
│ max     │ MYH 2024/999  │           2024.0 │ true    │ Östsvenska Yrkeshögskolan AB    │ Återbruk och cirkularitet inom bygg & fastighet │ Transporttjänster │              99.0 │              100.0 │                    160.0 │             2025.0 │ Östergötland │ Östersund │                5.0 │ true           │
│ median  │ NULL          │           2024.0 │ NULL    │ NULL                            │ NULL                                            │ NULL              │              40.0 │               25.0 │                     30.0 │             2024.0 │ NULL         │ NULL      │                1.0 │ NULL           │
└─────────┴───────────────┴──────────────────┴─────────┴─────────────────────────────────┴─────────────────────────────────────────────────┴───────────────────┴───────────────────┴────────────────────┴──────────────────────────┴────────────────────┴──────────────┴───────────┴────────────────────┴────────────────┘

In [170]:
def get_utbildningsanordnare(con):
    rel = con.sql("""
    select distinct Utbildningsanordnare
    from kurser_beslut
    order by Utbildningsanordnare
    """)
    return [i[0] for i in rel.fetchall()]

get_utbildningsanordnare(con)

['ABF Göteborg Vuxenutbildning AB',
 'AGSTU AB',
 'ALEA Kompetenshöjning AB',
 'AVT AB',
 'Ai Högskolan Sverige AB',
 'Almost There AB',
 'Amsac AB',
 'Angered folkhögskola',
 'Arboga kommun, Vuxenutbildningen',
 'Arvika Kommun',
 'Bergsskolan Kompetensutveckling AB',
 'Blue Peak AB',
 'Borås Stad - Yrkeshögskolan i Borås',
 'Båstads kommun Akademi Båstad',
 'Cady training utbildningar AB',
 'Campus Ljungby AB',
 'Campus Nyköping',
 'Campus Nynäshamn',
 'Campus Varberg/Varbergs kommun',
 'Changemaker Educations AB',
 'Chas Academy AB',
 'Dans i Göteborg AB',
 'Digitala lyftet i Sverige AB',
 'Dille Gård AB',
 'EBT Academy AB',
 'EC Utbildning AB Göteborg',
 'EC Utbildning AB Malmö',
 'EC Utbildning AB Stockholm',
 'EC Utbildning AB Örebro',
 'East Sweden Business School AB',
 'EdUP Group AB',
 'Edugrade AB',
 'Elevera Education Group',
 'Enköpings kommun, Yrkeshögskolan i Enköping',
 'Equine Academy Sweden AB',
 'Eriksmåla Ridklubb',
 'Falkenbergs kommun',
 'Fastighetsakademin Sverige AB',
 'Finska folkhögskolans stiftelse',
 'Folktandvården Västra Götalandsregionen, Tandsköterskeutbildningen',
 'Folkuniversitetet - Kursverksamheten vid Lunds Universitet',
 'Folkuniversitetet - Kursverksamheten vid Stockholms universitet',
 'Folkuniversitetet - Stiftelsen Kursverksamheten vid Uppsala universitetet',
 'Folkuniversitetet Kursverksamheten vid Göteborgs universitet',
 'Folkuniversitetet – Kursverksamheten vid Umeå Universitet',
 'Fordonsakademin Sverige AB',
 'Funka Academy AB',
 'Företagsekonomiska Institutet 1888 AB',
 'Företagsuniversitetet AB',
 'Gislaveds Kommun Vuxenutbildningen /Hph',
 'Grit Academy',
 'Gunnebo Slott och Trädgårdar AB',
 'Göteborgs Stad, Yrgo',
 'Göteborgs Tekniska College AB',
 'Handelsakademin i Göteborg AB',
 'Hermods AB Göteborg',
 'Hermods AB Helsingborg',
 'Hermods AB Karlskrona',
 'Hermods AB Lund',
 'Hermods AB Malmö',
 'Hermods AB Stockholm',
 'Hermods AB Umeå',
 'Hermods AB Örebro',
 'Hermods AB Östersund',
 'Hyper Island Program AB - Karlskrona',
 'Hyper Island Program AB - Stockholm',
 'Härnösands kommun, Yrkeshögskolan',
 'Härryda kommun, Yrkeshögskolan i Mölnlycke',
 'Högskolan Kristianstad Uppdrag AB',
 'IHM Business School AB Göteborg',
 'INSU AB',
 'IT-Högskolan Stockholm AB',
 'IT-Högskolan Sverige AB',
 'ITH, Institutet För Tillämpad Hydraulik',
 'Idéutvecklarna AB',
 'Information & kompetensförsörjning i Sverige Aktiebolag',
 'Iris Hadar AB',
 'Iterum Education AB',
 'JAG Utbildning AB',
 'JENSEN Education School AB',
 'Ja&Ja AB',
 'John Ericsson Institutet',
 'KYH AB',
 'Karlskoga kommun',
 'Karlsson Climate AB',
 'Klippans kommun, Flygteknikcenter',
 'KompetensUtvecklingsInstitutet Sverige AB',
 'Kulturama',
 'Kunskapsförbundet Väst, Vuxenutbildningen',
 'Kunskapsgruppen Yrkeshögskola Sverige AB',
 'Köpings kommun',
 'LAVI gruppen AB',
 'Landskrona Stad, Yrkeshögskolan Landskrona',
 'Lernia Utbildning AB',
 'Lexicon Yrkeshögskola AB',
 'Lidköpings kommun Campus Lidköping',
 'Malmö Tillskärarakademi AB',
 'Mariestads kommun, Dacapo Mariestad',
 'MedLearn AB',
 'Medborgarskolan i Stockholm - Påhlmans Handelsinstitut ',
 'Medieinstitutet i Sverige AB',
 'Montico Kompetensutveckling AB',
 'Movant AB',
 'Mölk Utbildning AB',
 'NBI i Sverige AB ',
 'Nackademin AB',
 'Nava Group AB',
 'Nercia Utbildning',
 'Newton Kompetensutveckling AB',
 'Nässjö kommun, Nässjöakademin',
 'Nätverkstan Kultur AB',
 'Omsorgsförlaget',
 'One Academy AB',
 'Oskarshamns kommun, Nova Utbildning, FoU & Affärsutveckling',
 'Plushögskolan AB - Affärshögskolan',
 'Plushögskolan AB - Teknikhögskolan',
 'Plushögskolan AB - Vårdyrkeshögskolan',
 'Region Kronoberg, YH Region Kronoberg',
 'Rädda Barnen Välfärd',
 'Skövde kommun, Skövde Yrkeshögskola',
 'Sociala Tjänstehundar i Sverige AB/Svenska Terapihundskolan',
 'Solarspect Sverige ab',
 'Sollefteå kommun - Reveljen',
 'Step by Step Competence AB',
 'Stiftelsen Capellagården',
 'Stiftelsen PROTEKO - Nordiska Textilakademin',
 'Stiftelsen Stockholms Tekniska Institut',
 'Stockholm School of Business',
 'Stockholms Internationella Handelsskola AB',
 'Stockholms Stadsmission',
 'Stockholms Tillskärarakademi ',
 'Stockholms Trafiklärarutbildning',
 'Stockholms stad, Frans Schartaus Handelsinstitut',
 'Sundsgårdens folkhögskola',
 'Sunne kommun/Brobygrafiska',
 'Svenska Ledargruppen AB',
 'Svenska Trädmästarna AB',
 'Sverigehälsan AB',
 'Sveriges Yrkeshögskola AB - Göteborg Yrkeshögskola',
 'Sveriges Yrkeshögskola AB - Malmö Yrkeshögskola',
 'Sveriges Yrkeshögskola AB - Stockholm Yrkeshögskola',
 'Sälj & Marknadshögskolan i Sverige AB',
 'TCC Sverige AB',
 'TEC Travel Education Centre AB',
 'TUC Sweden AB - Yrkeshögskola',
 'Technigo AB',
 'Tekniska Högskolan i Jönköping AB',
 'Tension Education AB',
 'Torsta AB',
 'Trelleborgs kommun',
 'Uddevalla kommun, Uddevalla Yrkeshögskola',
 'Unestål Education',
 'Vilhelmina kommun, Vilhelmina Lärcentrum',
 'Värna',
 'Västerås Stad/Barn- och Utbildningsförvaltningen/Västerås Yrkeshögskola',
 'Västra Götalands läns landsting, Biologiska Yrkeshögskolan i Skara - BYS',
 'WeWon Media Group AB',
 'XeDrix AB',
 'Xenter Yrkeshögskola ',
 'YH Akademin AB',
 'YH Akademin(Marknad)',
 'Yrkeshögskola Campus Mölndal',
 'Yrkesutbildaren Habo AB                     ',
 'Älmhults kommun, Haganässkolan',
 'Åsbro Kursgård AB',
 'Östsvenska Yrkeshögskolan AB']

In [171]:
def create_df_utbildningsomrade_beviljade(con, utbildningsanordnare: list[str] | None = None, year=2024):
    rel = con.sql("""
    select
        Utbildningsområde,
        count(*) as Beviljade
    from kurser_beslut
    where
        ( $utb IS NULL OR Utbildningsanordnare = ANY($utb) )
        and Ansökningsomgång = $year
        and Beslut = true
    group by Utbildningsområde
    order by Beviljade desc, Utbildningsområde
    ;""",
    params={"year": year, "utb": utbildningsanordnare})
    return rel.df().set_index(["Utbildningsområde"])

create_df_utbildningsomrade_beviljade(con)

                                              Beviljade
Utbildningsområde
Ekonomi, administration och försäljning             171
Data/IT                                             111
Teknik och tillverkning                             106
Samhällsbyggnad och byggteknik                       93
Hälso- och sjukvård samt socialt arbete              81
Hotell, restaurang och turism                        19
Lantbruk, djurvård, trädgård, skog och fiske         18
Pedagogik och undervisning                           15
Journalistik och information                         11
Juridik                                              11
Säkerhetstjänster                                    11
Kultur, media och design                             10
Transporttjänster                                     4

In [172]:
create_df_utbildningsomrade_beviljade(con, ["Stiftelsen Stockholms Tekniska Institut"])

                                Beviljade
Utbildningsområde
Data/IT                                 7
Samhällsbyggnad och byggteknik          6

In [173]:
def create_df_utbildningsomrade_avslag(con, utbildningsanordnare: list[str] | None = None, year=2024):
    rel = con.sql("""
    select
        Utbildningsområde,
        count(*) as Avslag
    from kurser_beslut
    where
        ( $utb IS NULL OR Utbildningsanordnare = ANY($utb) )
        and Ansökningsomgång = $year
        and Beslut = false
    group by Utbildningsområde
    order by Avslag desc, Utbildningsområde
    ;""",
    params={"year": year, "utb": utbildningsanordnare})
    return rel.df().set_index("Utbildningsområde")

create_df_utbildningsomrade_avslag(con)

                                              Avslag
Utbildningsområde
Ekonomi, administration och försäljning          112
Data/IT                                           84
Hälso- och sjukvård samt socialt arbete           53
Teknik och tillverkning                           51
Samhällsbyggnad och byggteknik                    41
Lantbruk, djurvård, trädgård, skog och fiske      24
Pedagogik och undervisning                        18
Säkerhetstjänster                                 11
Hotell, restaurang och turism                      9
Juridik                                            9
Kultur, media och design                           9
Journalistik och information                       5
Friskvård och kroppsvård                           2
Transporttjänster                                  1

In [174]:
create_df_utbildningsomrade_avslag(con, ["Stiftelsen Stockholms Tekniska Institut"])

                                Avslag
Utbildningsområde
Data/IT                              1
Samhällsbyggnad och byggteknik       1

In [179]:
def create_df_utbildningsomrade_beslut(con, beslut=True, utbildningsanordnare: list[str] | None = None, year=2024):
    rel = con.sql("""
    select
        Utbildningsområde,
        count(*) as Beslut
    from kurser_beslut
    where
        ( $utb IS NULL OR Utbildningsanordnare = ANY($utb) )
        and Ansökningsomgång = $year
        and Beslut = $beslut
    group by Utbildningsområde
    order by Beslut desc, Utbildningsområde
    ;""",
    params={"beslut": beslut, "year": year, "utb": utbildningsanordnare})
    df_rel: pd.Dataframe = rel.df().set_index("Utbildningsområde")
    return df_rel.rename(columns={"Beslut": "Beviljade" if beslut else "Avslag"})

create_df_utbildningsomrade_beslut(con, beslut=False)

                                              Avslag
Utbildningsområde
Ekonomi, administration och försäljning          112
Data/IT                                           84
Hälso- och sjukvård samt socialt arbete           53
Teknik och tillverkning                           51
Samhällsbyggnad och byggteknik                    41
Lantbruk, djurvård, trädgård, skog och fiske      24
Pedagogik och undervisning                        18
Säkerhetstjänster                                 11
Hotell, restaurang och turism                      9
Juridik                                            9
Kultur, media och design                           9
Journalistik och information                       5
Friskvård och kroppsvård                           2
Transporttjänster                                  1

In [176]:
def get_kurser_antal(con):
    rel = con.sql("""
    select
        (select count(*) from kurser_beslut) as "Kurs-ansökningar",
        (select count(*) from kurser_kommun) as "Kurs-ansökningar, alla kommuner"
    """)
    return rel.fetchone()

get_kurser_antal(con)

(1090, 1202)

In [177]:
def get_utbildningsomraden(con):
    rel = con.sql("""
    select distinct Utbildningsområde
    from kurser_beslut
    order by Utbildningsområde
    """)
    return [i[0] for i in rel.fetchall()]

get_utbildningsomraden(con)

['Data/IT',
 'Ekonomi, administration och försäljning',
 'Friskvård och kroppsvård',
 'Hotell, restaurang och turism',
 'Hälso- och sjukvård samt socialt arbete',
 'Journalistik och information',
 'Juridik',
 'Kultur, media och design',
 'Lantbruk, djurvård, trädgård, skog och fiske',
 'Pedagogik och undervisning',
 'Samhällsbyggnad och byggteknik',
 'Säkerhetstjänster',
 'Teknik och tillverkning',
 'Transporttjänster']

In [178]:
def create_df_kurser_beviljade(con, utbildningsomrade: list[str] | None = None):
    rel = con.sql("""
    select
        Utbildningsanordnare,
        -- Utbildningsområde,
        count(*) as Ansökningar,
        sum(case when Beslut = true then 1 else 0 end)::integer as Beviljade,
        round(100.00 * sum(case when Beslut = true then 1 else 0 end) / count(*),1) as "Beviljade %",
    from kurser_beslut
    where ( $areas IS NULL OR Utbildningsområde = ANY($areas) )
    group by Utbildningsanordnare, Utbildningsområde
    order by "Beviljade %" desc, Ansökningar desc, Utbildningsanordnare
    """,
    params={"areas": utbildningsomrade})
    return rel.df().set_index("Utbildningsanordnare")

create_df_kurser_beviljade(con, ["Data/IT"]).head(20)

,Ansökningar,Beviljade,Beviljade %
Utbildningsanordnare,,,
IT-Högskolan Sverige AB,11,11,100.0
Nackademin AB,9,9,100.0
YH Akademin AB,8,8,100.0
Handelsakademin i Göteborg AB,6,6,100.0
EC Utbildning AB Göteborg,4,4,100.0
AGSTU AB,2,2,100.0
Folkuniversitetet - Stiftelsen Kursverksamheten vid Uppsala universitetet,2,2,100.0
Hermods AB Örebro,2,2,100.0
Hyper Island Program AB - Karlskrona,2,2,100.0
IHM Business School AB Göteborg,2,2,100.0
"Stockholms stad, Frans Schartaus Handelsinstitut",2,2,100.0
Stockholm School of Business,1,1,100.0
Stockholms Internationella Handelsskola AB,1,1,100.0
Sveriges Yrkeshögskola AB - Göteborg Yrkeshögskola,1,1,100.0
Stiftelsen Stockholms Tekniska Institut,8,7,87.5
Medieinstitutet i Sverige AB,14,12,85.7
Sveriges Yrkeshögskola AB - Malmö Yrkeshögskola,6,4,66.7
EC Utbildning AB Stockholm,3,2,66.7
Företagsekonomiska Institutet 1888 AB,3,2,66.7
Företagsuniversitetet AB,3,2,66.7