In [276]:
import duckdb as ddb
import pandas as pd

con = ddb.connect(database=":memory:")

con.sql("""
CREATE TABLE program_beslut AS
    FROM 'data/resultat-ansokningsomgang-2020-2024-beslut.csv';
CREATE TABLE program_kommun AS
    FROM 'data/resultat-ansokningsomgang-2020-2024-diarie_kommun.csv';

CREATE TABLE kurser_beslut AS
    FROM 'data/resultat-for-kurser-inom-yh-2024-beslut.csv';
CREATE TABLE kurser_kommun AS
    FROM 'data/resultat-for-kurser-inom-yh-2024-diarie_kommun.csv';

CREATE TABLE kommun_lan AS
    FROM 'data/kommunlankod-2025.csv';       
""")

In [277]:
con.sql("""select * from kurser_beslut""").describe()
# con.sql("""select * from kurser_beslut""").columns

┌─────────┬───────────────┬──────────────────┬─────────┬─────────────────────────────────┬─────────────────────────────────────────────────┬───────────────────┬───────────────────┬────────────────────┬──────────────────────────┬────────────────────┬──────────────┬───────────┬────────────────────┬────────────────┐
│  aggr   │ Diarienummer  │ Ansökningsomgång │ Beslut  │      Utbildningsanordnare       │                 Utbildningsnamn                 │ Utbildningsområde │     YH-poäng      │ Beviljade platser  │ Beviljade platser totalt │       Start        │     Län      │  Kommun   │   Antal kommuner   │ Flera kommuner │
│ varchar │    varchar    │      double      │ varchar │             varchar             │                     varchar                     │      varchar      │      double       │       double       │          double          │       double       │   varchar    │  varchar  │       double       │    varchar     │
├─────────┼───────────────┼──────────────────┼─────────┼─────────────────────────────────┼─────────────────────────────────────────────────┼───────────────────┼───────────────────┼────────────────────┼──────────────────────────┼────────────────────┼──────────────┼───────────┼────────────────────┼────────────────┤
│ count   │ 1090          │           1090.0 │ 1090    │ 1090                            │ 1090                                            │ 1090              │            1090.0 │             1090.0 │                   1090.0 │             1090.0 │ 901          │ 901       │             1090.0 │ 1090           │
│ mean    │ NULL          │           2024.0 │ NULL    │ NULL                            │ NULL                                            │ NULL              │ 41.47798165137615 │ 21.980733944954128 │        36.19266055045872 │ 2024.2018348623853 │ NULL         │ NULL      │ 1.3412844036697247 │ NULL           │
│ stddev  │ NULL          │              0.0 │ NULL    │ NULL                            │ NULL                                            │ NULL              │ 18.64776619782181 │ 20.461493666408217 │        36.62709536730105 │ 0.4015538349292432 │ NULL         │ NULL      │ 0.8682979994370141 │ NULL           │
│ min     │ MYH 2024/1000 │           2024.0 │ false   │ ABF Göteborg Vuxenutbildning AB │ 3D Clo Fördjupning Modedesigner                 │ Data/IT           │              10.0 │                0.0 │                      0.0 │             2024.0 │ Blekinge     │ Angered   │                1.0 │ false          │
│ max     │ MYH 2024/999  │           2024.0 │ true    │ Östsvenska Yrkeshögskolan AB    │ Återbruk och cirkularitet inom bygg & fastighet │ Transporttjänster │              99.0 │              100.0 │                    160.0 │             2025.0 │ Östergötland │ Östersund │                5.0 │ true           │
│ median  │ NULL          │           2024.0 │ NULL    │ NULL                            │ NULL                                            │ NULL              │              40.0 │               25.0 │                     30.0 │             2024.0 │ NULL         │ NULL      │                1.0 │ NULL           │
└─────────┴───────────────┴──────────────────┴─────────┴─────────────────────────────────┴─────────────────────────────────────────────────┴───────────────────┴───────────────────┴────────────────────┴──────────────────────────┴────────────────────┴──────────────┴───────────┴────────────────────┴────────────────┘

In [278]:
def get_utbildningsanordnare(con):
    rel = con.sql("""
    select distinct Utbildningsanordnare
    from kurser_beslut
    order by Utbildningsanordnare
    """)
    return [i[0] for i in rel.fetchall()]


get_utbildningsanordnare(con)

['ABF Göteborg Vuxenutbildning AB',
 'AGSTU AB',
 'ALEA Kompetenshöjning AB',
 'AVT AB',
 'Ai Högskolan Sverige AB',
 'Almost There AB',
 'Amsac AB',
 'Angered folkhögskola',
 'Arboga kommun, Vuxenutbildningen',
 'Arvika Kommun',
 'Bergsskolan Kompetensutveckling AB',
 'Blue Peak AB',
 'Borås Stad - Yrkeshögskolan i Borås',
 'Båstads kommun Akademi Båstad',
 'Cady training utbildningar AB',
 'Campus Ljungby AB',
 'Campus Nyköping',
 'Campus Nynäshamn',
 'Campus Varberg/Varbergs kommun',
 'Changemaker Educations AB',
 'Chas Academy AB',
 'Dans i Göteborg AB',
 'Digitala lyftet i Sverige AB',
 'Dille Gård AB',
 'EBT Academy AB',
 'EC Utbildning AB Göteborg',
 'EC Utbildning AB Malmö',
 'EC Utbildning AB Stockholm',
 'EC Utbildning AB Örebro',
 'East Sweden Business School AB',
 'EdUP Group AB',
 'Edugrade AB',
 'Elevera Education Group',
 'Enköpings kommun, Yrkeshögskolan i Enköping',
 'Equine Academy Sweden AB',
 'Eriksmåla Ridklubb',
 'Falkenbergs kommun',
 'Fastighetsakademin Sverige AB',
 'Finska folkhögskolans stiftelse',
 'Folktandvården Västra Götalandsregionen, Tandsköterskeutbildningen',
 'Folkuniversitetet - Kursverksamheten vid Lunds Universitet',
 'Folkuniversitetet - Kursverksamheten vid Stockholms universitet',
 'Folkuniversitetet - Stiftelsen Kursverksamheten vid Uppsala universitetet',
 'Folkuniversitetet Kursverksamheten vid Göteborgs universitet',
 'Folkuniversitetet – Kursverksamheten vid Umeå Universitet',
 'Fordonsakademin Sverige AB',
 'Funka Academy AB',
 'Företagsekonomiska Institutet 1888 AB',
 'Företagsuniversitetet AB',
 'Gislaveds Kommun Vuxenutbildningen /Hph',
 'Grit Academy',
 'Gunnebo Slott och Trädgårdar AB',
 'Göteborgs Stad, Yrgo',
 'Göteborgs Tekniska College AB',
 'Handelsakademin i Göteborg AB',
 'Hermods AB Göteborg',
 'Hermods AB Helsingborg',
 'Hermods AB Karlskrona',
 'Hermods AB Lund',
 'Hermods AB Malmö',
 'Hermods AB Stockholm',
 'Hermods AB Umeå',
 'Hermods AB Örebro',
 'Hermods AB Östersund',
 'Hyper Island Program AB - Karlskrona',
 'Hyper Island Program AB - Stockholm',
 'Härnösands kommun, Yrkeshögskolan',
 'Härryda kommun, Yrkeshögskolan i Mölnlycke',
 'Högskolan Kristianstad Uppdrag AB',
 'IHM Business School AB Göteborg',
 'INSU AB',
 'IT-Högskolan Stockholm AB',
 'IT-Högskolan Sverige AB',
 'ITH, Institutet För Tillämpad Hydraulik',
 'Idéutvecklarna AB',
 'Information & kompetensförsörjning i Sverige Aktiebolag',
 'Iris Hadar AB',
 'Iterum Education AB',
 'JAG Utbildning AB',
 'JENSEN Education School AB',
 'Ja&Ja AB',
 'John Ericsson Institutet',
 'KYH AB',
 'Karlskoga kommun',
 'Karlsson Climate AB',
 'Klippans kommun, Flygteknikcenter',
 'KompetensUtvecklingsInstitutet Sverige AB',
 'Kulturama',
 'Kunskapsförbundet Väst, Vuxenutbildningen',
 'Kunskapsgruppen Yrkeshögskola Sverige AB',
 'Köpings kommun',
 'LAVI gruppen AB',
 'Landskrona Stad, Yrkeshögskolan Landskrona',
 'Lernia Utbildning AB',
 'Lexicon Yrkeshögskola AB',
 'Lidköpings kommun Campus Lidköping',
 'Malmö Tillskärarakademi AB',
 'Mariestads kommun, Dacapo Mariestad',
 'MedLearn AB',
 'Medborgarskolan i Stockholm - Påhlmans Handelsinstitut ',
 'Medieinstitutet i Sverige AB',
 'Montico Kompetensutveckling AB',
 'Movant AB',
 'Mölk Utbildning AB',
 'NBI i Sverige AB ',
 'Nackademin AB',
 'Nava Group AB',
 'Nercia Utbildning',
 'Newton Kompetensutveckling AB',
 'Nässjö kommun, Nässjöakademin',
 'Nätverkstan Kultur AB',
 'Omsorgsförlaget',
 'One Academy AB',
 'Oskarshamns kommun, Nova Utbildning, FoU & Affärsutveckling',
 'Plushögskolan AB - Affärshögskolan',
 'Plushögskolan AB - Teknikhögskolan',
 'Plushögskolan AB - Vårdyrkeshögskolan',
 'Region Kronoberg, YH Region Kronoberg',
 'Rädda Barnen Välfärd',
 'Skövde kommun, Skövde Yrkeshögskola',
 'Sociala Tjänstehundar i Sverige AB/Svenska Terapihundskolan',
 'Solarspect Sverige ab',
 'Sollefteå kommun - Reveljen',
 'Step by Step Competence AB',
 'Stiftelsen Capellagården',
 'Stiftelsen PROTEKO - Nordiska Textilakademin',
 'Stiftelsen Stockholms Tekniska Institut',
 'Stockholm School of Business',
 'Stockholms Internationella Handelsskola AB',
 'Stockholms Stadsmission',
 'Stockholms Tillskärarakademi ',
 'Stockholms Trafiklärarutbildning',
 'Stockholms stad, Frans Schartaus Handelsinstitut',
 'Sundsgårdens folkhögskola',
 'Sunne kommun/Brobygrafiska',
 'Svenska Ledargruppen AB',
 'Svenska Trädmästarna AB',
 'Sverigehälsan AB',
 'Sveriges Yrkeshögskola AB - Göteborg Yrkeshögskola',
 'Sveriges Yrkeshögskola AB - Malmö Yrkeshögskola',
 'Sveriges Yrkeshögskola AB - Stockholm Yrkeshögskola',
 'Sälj & Marknadshögskolan i Sverige AB',
 'TCC Sverige AB',
 'TEC Travel Education Centre AB',
 'TUC Sweden AB - Yrkeshögskola',
 'Technigo AB',
 'Tekniska Högskolan i Jönköping AB',
 'Tension Education AB',
 'Torsta AB',
 'Trelleborgs kommun',
 'Uddevalla kommun, Uddevalla Yrkeshögskola',
 'Unestål Education',
 'Vilhelmina kommun, Vilhelmina Lärcentrum',
 'Värna',
 'Västerås Stad/Barn- och Utbildningsförvaltningen/Västerås Yrkeshögskola',
 'Västra Götalands läns landsting, Biologiska Yrkeshögskolan i Skara - BYS',
 'WeWon Media Group AB',
 'XeDrix AB',
 'Xenter Yrkeshögskola ',
 'YH Akademin AB',
 'YH Akademin(Marknad)',
 'Yrkeshögskola Campus Mölndal',
 'Yrkesutbildaren Habo AB                     ',
 'Älmhults kommun, Haganässkolan',
 'Åsbro Kursgård AB',
 'Östsvenska Yrkeshögskolan AB']

In [279]:
def create_df_utbildningsomrade_beviljade(con, utbildningsanordnare: list[str] | None = None, year=2024):
    rel = con.sql(
        """
    select
        Utbildningsområde,
        count(*) as Beviljade
    from kurser_beslut
    where
        ( $utb IS NULL OR Utbildningsanordnare = ANY($utb) )
        and Ansökningsomgång = $year
        and Beslut = true
    group by Utbildningsområde
    order by Beviljade desc, Utbildningsområde
    ;""",
        params={"year": year, "utb": utbildningsanordnare},
    )
    return rel.df().set_index(["Utbildningsområde"])


create_df_utbildningsomrade_beviljade(con)

                                              Beviljade
Utbildningsområde
Ekonomi, administration och försäljning             171
Data/IT                                             111
Teknik och tillverkning                             106
Samhällsbyggnad och byggteknik                       93
Hälso- och sjukvård samt socialt arbete              81
Hotell, restaurang och turism                        19
Lantbruk, djurvård, trädgård, skog och fiske         18
Pedagogik och undervisning                           15
Journalistik och information                         11
Juridik                                              11
Säkerhetstjänster                                    11
Kultur, media och design                             10
Transporttjänster                                     4

In [280]:
create_df_utbildningsomrade_beviljade(con, ["Stiftelsen Stockholms Tekniska Institut"])

                                Beviljade
Utbildningsområde
Data/IT                                 7
Samhällsbyggnad och byggteknik          6

In [281]:
def create_df_utbildningsomrade_avslag(con, utbildningsanordnare: list[str] | None = None, year=2024):
    rel = con.sql(
        """
    select
        Utbildningsområde,
        count(*) as Avslag
    from kurser_beslut
    where
        ( $utb IS NULL OR Utbildningsanordnare = ANY($utb) )
        and Ansökningsomgång = $year
        and Beslut = false
    group by Utbildningsområde
    order by Avslag desc, Utbildningsområde
    ;""",
        params={"year": year, "utb": utbildningsanordnare},
    )
    return rel.df().set_index("Utbildningsområde")


create_df_utbildningsomrade_avslag(con)

                                              Avslag
Utbildningsområde
Ekonomi, administration och försäljning          112
Data/IT                                           84
Hälso- och sjukvård samt socialt arbete           53
Teknik och tillverkning                           51
Samhällsbyggnad och byggteknik                    41
Lantbruk, djurvård, trädgård, skog och fiske      24
Pedagogik och undervisning                        18
Säkerhetstjänster                                 11
Hotell, restaurang och turism                      9
Juridik                                            9
Kultur, media och design                           9
Journalistik och information                       5
Friskvård och kroppsvård                           2
Transporttjänster                                  1

In [282]:
create_df_utbildningsomrade_avslag(con, ["Stiftelsen Stockholms Tekniska Institut"])

                                Avslag
Utbildningsområde
Data/IT                              1
Samhällsbyggnad och byggteknik       1

In [283]:
def create_df_utbildningsomrade_beslut(con, beslut=True, utbildningsanordnare: list[str] | None = None, year=2024):
    rel = con.sql(
        """
    select
        Utbildningsområde,
        count(*) as Beslut
    from kurser_beslut
    where
        ( $utb IS NULL OR Utbildningsanordnare = ANY($utb) )
        and Ansökningsomgång = $year
        and Beslut = $beslut
    group by Utbildningsområde
    order by Beslut desc, Utbildningsområde
    ;""",
        params={"beslut": beslut, "year": year, "utb": utbildningsanordnare},
    )

    df_rel: pd.Dataframe = rel.df().set_index("Utbildningsområde")
    return df_rel.rename(columns={"Beslut": "Beviljade" if beslut else "Avslag"})


create_df_utbildningsomrade_beslut(con, beslut=False)

                                              Avslag
Utbildningsområde
Ekonomi, administration och försäljning          112
Data/IT                                           84
Hälso- och sjukvård samt socialt arbete           53
Teknik och tillverkning                           51
Samhällsbyggnad och byggteknik                    41
Lantbruk, djurvård, trädgård, skog och fiske      24
Pedagogik och undervisning                        18
Säkerhetstjänster                                 11
Hotell, restaurang och turism                      9
Juridik                                            9
Kultur, media och design                           9
Journalistik och information                       5
Friskvård och kroppsvård                           2
Transporttjänster                                  1

In [284]:
def get_kurser_antal(con):
    rel = con.sql("""
    select
        (select count(*) from kurser_beslut) as "Kurs-ansökningar",
        (select count(*) from kurser_kommun) as "Kurs-ansökningar, alla kommuner"
    """)
    return rel.fetchone()


get_kurser_antal(con)

(1090, 1202)

In [285]:
def get_utbildningsomraden(con):
    rel = con.sql("""
    select distinct Utbildningsområde
    from kurser_beslut
    order by Utbildningsområde
    """)
    return [i[0] for i in rel.fetchall()]


get_utbildningsomraden(con)

['Data/IT',
 'Ekonomi, administration och försäljning',
 'Friskvård och kroppsvård',
 'Hotell, restaurang och turism',
 'Hälso- och sjukvård samt socialt arbete',
 'Journalistik och information',
 'Juridik',
 'Kultur, media och design',
 'Lantbruk, djurvård, trädgård, skog och fiske',
 'Pedagogik och undervisning',
 'Samhällsbyggnad och byggteknik',
 'Säkerhetstjänster',
 'Teknik och tillverkning',
 'Transporttjänster']

In [286]:
def create_df_kurser_beviljade(con, utbildningsomrade: list[str] | None = None):
    rel = con.sql(
        """
    select
        Utbildningsanordnare,
        -- Utbildningsområde,
        count(*) as Ansökningar,
        sum(case when Beslut = true then 1 else 0 end)::integer as Beviljade,
        round(100.00 * sum(case when Beslut = true then 1 else 0 end) / count(*),1) as "Beviljade %",
    from kurser_beslut
    where ( $areas IS NULL OR Utbildningsområde = ANY($areas) )
    group by Utbildningsanordnare, Utbildningsområde
    order by "Beviljade %" desc, Ansökningar desc, Utbildningsanordnare
    """,
        params={"areas": utbildningsomrade},
    )
    return rel.df().set_index("Utbildningsanordnare")


create_df_kurser_beviljade(con, ["Data/IT"]).head(20)

,Ansökningar,Beviljade,Beviljade %
Utbildningsanordnare,,,
IT-Högskolan Sverige AB,11,11,100.0
Nackademin AB,9,9,100.0
YH Akademin AB,8,8,100.0
Handelsakademin i Göteborg AB,6,6,100.0
EC Utbildning AB Göteborg,4,4,100.0
AGSTU AB,2,2,100.0
Folkuniversitetet - Stiftelsen Kursverksamheten vid Uppsala universitetet,2,2,100.0
Hermods AB Örebro,2,2,100.0
Hyper Island Program AB - Karlskrona,2,2,100.0
IHM Business School AB Göteborg,2,2,100.0
"Stockholms stad, Frans Schartaus Handelsinstitut",2,2,100.0
Stockholm School of Business,1,1,100.0
Stockholms Internationella Handelsskola AB,1,1,100.0
Sveriges Yrkeshögskola AB - Göteborg Yrkeshögskola,1,1,100.0
Stiftelsen Stockholms Tekniska Institut,8,7,87.5
Medieinstitutet i Sverige AB,14,12,85.7
Sveriges Yrkeshögskola AB - Malmö Yrkeshögskola,6,4,66.7
EC Utbildning AB Stockholm,3,2,66.7
Företagsekonomiska Institutet 1888 AB,3,2,66.7
Företagsuniversitetet AB,3,2,66.7

In [287]:
create_df_kurser_beviljade(con, None).head(20)

                                           Ansökningar  Beviljade  Beviljade %
Utbildningsanordnare
KompetensUtvecklingsInstitutet Sverige AB           15         15        100.0
Nackademin AB                                       13         13        100.0
IT-Högskolan Sverige AB                             11         11        100.0
Nackademin AB                                        9          9        100.0
Sverigehälsan AB                                     9          9        100.0
Lexicon Yrkeshögskola AB                             8          8        100.0
Medieinstitutet i Sverige AB                         8          8        100.0
YH Akademin AB                                       8          8        100.0
One Academy AB                                       7          7        100.0
ALEA Kompetenshöjning AB                             6          6        100.0
Amsac AB                                             6          6        100.0
Handelsakademin i Göteborg AB                        6          6        100.0
Malmö Tillskärarakademi AB                           6          6        100.0
Mariestads kommun, Dacapo Mariestad                  6          6        100.0
MedLearn AB                                          6          6        100.0
Montico Kompetensutveckling AB                       5          5        100.0
ALEA Kompetenshöjning AB                             4          4        100.0
Campus Nyköping                                      4          4        100.0
EC Utbildning AB Göteborg                            4          4        100.0
Fastighetsakademin Sverige AB                        4          4        100.0

In [288]:
con.sql("""select * from program_beslut""").describe()

┌─────────┬───────────────────┬────────────────────────────────────────────────────────────────────┬──────────────┬──────────────┬────────────────────┬────────────────┬───────────────────┬────────────┬────────────────────┬─────────────────────────────────┬───────────────┬───────────────────────────┬───────────────────────────────┬──────────────────────┬──────────────────────────┬─────────────────────────────────────┬────────────────────┬───────────────┬─────────┐
│  aggr   │ Utbildningsområde │                          Utbildningsnamn                           │     Län      │    Kommun    │   Antal kommuner   │ Flera kommuner │     YH-poäng      │ Studieform │    Studietakt %    │      Utbildningsanordnare       │ Huvudmannatyp │ Sökta utbildningsomgångar │ Beviljade utbildningsomgångar │ Sökta platser totalt │ Beviljade platser totalt │ Sökta platser per utbildningsomgång │  Ansökningsomgång  │ Diarienummer  │ Beslut  │
│ varchar │      varchar      │                              varchar                               │   varchar    │   varchar    │       double       │    varchar     │      double       │  varchar   │       double       │             varchar             │    varchar    │          double           │            double             │        double        │          double          │               double                │       double       │    varchar    │ varchar │
├─────────┼───────────────────┼────────────────────────────────────────────────────────────────────┼──────────────┼──────────────┼────────────────────┼────────────────┼───────────────────┼────────────┼────────────────────┼─────────────────────────────────┼───────────────┼───────────────────────────┼───────────────────────────────┼──────────────────────┼──────────────────────────┼─────────────────────────────────────┼────────────────────┼───────────────┼─────────┤
│ count   │ 7640              │ 7640                                                               │ 7640         │ 7640         │             7640.0 │ 7640           │            7640.0 │ 7640       │             7640.0 │ 7640                            │ 7640          │                    7640.0 │                        7640.0 │               7640.0 │                   7640.0 │                              7640.0 │             7640.0 │ 7640          │ 7640    │
│ mean    │ NULL              │ NULL                                                               │ NULL         │ NULL         │ 1.7663612565445026 │ NULL           │ 353.5969895287958 │ NULL       │  95.12434554973822 │ NULL                            │ NULL          │        3.6657068062827225 │            0.9267015706806283 │    92.90353403141361 │       23.564659685863873 │                  25.364005235602093 │  2021.791884816754 │ NULL          │ NULL    │
│ stddev  │ NULL              │ NULL                                                               │ NULL         │ NULL         │ 1.5696907844064738 │ NULL           │ 88.82489833695931 │ NULL       │ 14.425471790646563 │ NULL                            │ NULL          │        0.9533026066420978 │             1.387626622080571 │   45.391217216730816 │       38.489291846850016 │                  10.276047854234903 │ 1.4112064740312367 │ NULL          │ NULL    │
│ min     │ Data/IT           │ \nSpecialistundersköterska med inriktning digital hälsa och teknik │ Blekinge     │ Alingsås     │                1.0 │ false          │             100.0 │ Bunden     │               50.0 │ ABF Göteborg Vuxenutbildning AB │ Kommun        │                       1.0 │                           0.0 │                  5.0 │                      0.0 │                                 2.0 │             2020.0 │ MYH 2020/1698 │ false   │
│ max     │ Övrigt            │ Återbruksstrateg                                                   │ Östergötland │ Östra Göinge │               10.0 │ true           │             999.0 │ Distans    │              100.0 │ Östsvenska Yrkeshögskolan AB    │ Statlig       │                       5.0 │                           5.0 │                175.0 │                    175.0 │                                35.0 │             2024.0 │ MYH 2024/4278 │ true    │
│ median  │ NULL              │ NULL                                                               │ NULL         │ NULL         │                1.0 │ NULL           │             400.0 │ NULL       │              100.0 │ NULL                            │ NULL          │                       3.0 │                           0.0 │                100.0 │                      0.0 │                                30.0 │             2022.0 │ NULL          │ NULL    │
└─────────┴───────────────────┴────────────────────────────────────────────────────────────────────┴──────────────┴──────────────┴────────────────────┴────────────────┴───────────────────┴────────────┴────────────────────┴─────────────────────────────────┴───────────────┴───────────────────────────┴───────────────────────────────┴──────────────────────┴──────────────────────────┴─────────────────────────────────────┴────────────────────┴───────────────┴─────────┘

In [289]:
def create_df_lan_utbildningar(con):
    rel = con.sql("""
    select
        Län,
        count(distinct Diarienummer) as "Antal beviljade utbildningar",
    from program_beslut
    where
        Ansökningsomgång = 2024
        and beslut = true
    group by Län
    order by "Antal beviljade utbildningar" desc
    """)
    return rel.df().set_index("Län")


create_df_lan_utbildningar(con).head(20)

                 Antal beviljade utbildningar
Län
Stockholm                                  82
Flera kommuner                             65
Västra Götaland                            63
Skåne                                      37
Östergötland                               16
Jönköping                                  13
Örebro                                     10
Västernorrland                              6
Gävleborg                                   5
Västmanland                                 5
Kronoberg                                   5
Kalmar                                      5
Värmland                                    4
Västerbotten                                4
Uppsala                                     4
Dalarna                                     4
Norrbotten                                  4
Halland                                     4
Blekinge                                    3
Södermanland                                3

In [290]:
def create_df_lan_utbildningsanordnare(
    con,
    lan: list[str] | None = None,
    beslut: bool | None = None,
    year=2024,
):
    if not lan:
        lan = None
    rel = con.sql(
        """
    select
        Län,
        count(distinct Utbildningsanordnare) as "Antal utbildningsanordnare",
    from program_beslut
    where
        Ansökningsomgång = $year
        and ( $beslut IS NULL OR Beslut = $beslut )
        and ( $lan IS NULL OR Län = ANY($lan) )
    group by Län
    order by "Antal utbildningsanordnare" desc
    """,
        params={"year": year, "lan": lan, "beslut": beslut},
    )
    return rel.df().set_index("Län")


create_df_lan_utbildningsanordnare(con, []).head(20)

                 Antal utbildningsanordnare
Län
Stockholm                                77
Flera kommuner                           75
Västra Götaland                          57
Skåne                                    52
Västerbotten                             17
Östergötland                             15
Västmanland                              13
Örebro                                   12
Västernorrland                           11
Blekinge                                 10
Jönköping                                10
Norrbotten                                9
Halland                                   8
Dalarna                                   8
Gävleborg                                 8
Värmland                                  8
Uppsala                                   8
Kalmar                                    8
Kronoberg                                 8
Södermanland                              6

In [291]:
def create_df_lan_utbildningar(
    con,
    lan: list[str] | None = None,
    beslut: bool | None = None,
    year=2024,
):
    if not lan:
        lan = None

    rel = con.sql(
        """
    select
        Län,
        count(distinct Diarienummer) as "Utbildningar, antal ansökta",
    from program_beslut
    where
        Ansökningsomgång = $year
        and ( $beslut IS NULL OR Beslut = $beslut )
        and "Flera kommuner" = False
        and ( $lan IS NULL OR Län = ANY($lan) )
    group by Län
    order by "Utbildningar, antal ansökta" desc
    """,
        params={"year": year, "lan": lan, "beslut": beslut},
    )

    df_rel: pd.Dataframe = rel.df().set_index("Län")
    if beslut is not None:
        df_rel = df_rel.rename(
            columns={
                "Utbildningar, antal ansökta": "Utbildningar, antal beviljade" if beslut else "Utbildningar, antal avslag",
            }
        )
    return df_rel


create_df_lan_utbildningar(con, []).head(20)

                 Utbildningar, antal ansökta
Län
Stockholm                                313
Västra Götaland                          212
Skåne                                    137
Östergötland                              41
Jönköping                                 39
Västernorrland                            28
Västerbotten                              26
Västmanland                               25
Örebro                                    24
Värmland                                  17
Blekinge                                  15
Halland                                   15
Norrbotten                                15
Kronoberg                                 13
Gävleborg                                 12
Södermanland                              12
Uppsala                                   11
Kalmar                                    10
Dalarna                                    9
Jämtland                                   6

In [292]:
create_df_lan_utbildningar(con, beslut=False).head(20)

                 Utbildningar, antal avslag
Län
Stockholm                               231
Västra Götaland                         149
Skåne                                   100
Jönköping                                26
Östergötland                             25
Västerbotten                             22
Västernorrland                           22
Västmanland                              20
Örebro                                   14
Värmland                                 13
Blekinge                                 12
Norrbotten                               11
Halland                                  11
Södermanland                              9
Kronoberg                                 8
Gävleborg                                 7
Uppsala                                   7
Dalarna                                   5
Kalmar                                    5
Jämtland                                  4

In [293]:
create_df_lan_utbildningar(con, ["Skåne", "Norrbotten"]).head(20)

            Utbildningar, antal ansökta
Län
Skåne                               137
Norrbotten                           15

In [294]:
con.sql("""select * from program_kommun""").describe()

┌─────────┬───────────────┬──────────────┬──────────────┬─────────┐
│  aggr   │ Diarienummer  │    Kommun    │     Län      │ Beslut  │
│ varchar │    varchar    │   varchar    │   varchar    │ varchar │
├─────────┼───────────────┼──────────────┼──────────────┼─────────┤
│ count   │ 8589          │ 8589         │ 8589         │ 8589    │
│ mean    │ NULL          │ NULL         │ NULL         │ NULL    │
│ stddev  │ NULL          │ NULL         │ NULL         │ NULL    │
│ min     │ MYH 2020/1698 │ Alingsås     │ Blekinge     │ false   │
│ max     │ MYH 2024/4278 │ Östra Göinge │ Östergötland │ true    │
│ median  │ NULL          │ NULL         │ NULL         │ NULL    │
└─────────┴───────────────┴──────────────┴──────────────┴─────────┘

In [295]:
con.sql("""select * from kommun_lan""").describe()

┌─────────┬────────────┬──────────────┬───────────────────┬────────────────────┐
│  aggr   │   Kommun   │     Län      │     Län, namn     │        Kod         │
│ varchar │  varchar   │   varchar    │      varchar      │       double       │
├─────────┼────────────┼──────────────┼───────────────────┼────────────────────┤
│ count   │ 290        │ 290          │ 290               │              290.0 │
│ mean    │ NULL       │ NULL         │ NULL              │ 1382.0896551724138 │
│ stddev  │ NULL       │ NULL         │ NULL              │  715.5540783148119 │
│ min     │ Ale        │ Blekinge     │ Blekinge län      │              114.0 │
│ max     │ Övertorneå │ Östergötland │ Östergötlands län │             2584.0 │
│ median  │ NULL       │ NULL         │ NULL              │             1439.5 │
└─────────┴────────────┴──────────────┴───────────────────┴────────────────────┘

In [296]:
con.sql(
    """
    select p.*, k.Län
    from program_kommun as p
    left join kommun_lan as k
        on p.Kommun = k.Kommun
    where p.Län != k.Län
    ;""").df()

Empty DataFrame
Columns: [Diarienummer, Kommun, Län, Beslut, Län_1]
Index: []

In [297]:
con.sql(
    """
    with kurser_alla_kommuner as (

    select
        "Diarienummer",
        "Ansökningsomgång",
        "Beslut",
        "Utbildningsanordnare",
        "Utbildningsnamn",
        "Utbildningsområde",
        "YH-poäng",
        "Beviljade platser",
        "Beviljade platser totalt",
        "Start",
        "Län",
        "Kommun",
        "Antal kommuner",
        "Flera kommuner"
    from kurser_beslut kb
    where
        "Flera kommuner" is not TRUE
    
    union all

    select
        kb."Diarienummer",
        kb."Ansökningsomgång",
        kb."Beslut",
        kb."Utbildningsanordnare",
        kb."Utbildningsnamn",
        kb."Utbildningsområde",
        kb."YH-poäng",
        kb."Beviljade platser",
        kb."Beviljade platser totalt",
        kb."Start",
        kk."Län",                -- kurser_kommun
        kk."Kommun",             -- kurser_kommun
        kb."Antal kommuner",
        kb."Flera kommuner"
    from kurser_beslut kb
    join kurser_kommun kk
        on kk."Diarienummer" = kb."Diarienummer"
     where
        kb."Flera kommuner" is TRUE

    )

    select *
    from kurser_alla_kommuner
    order by "Diarienummer"
    ;""").df()

,Diarienummer,Ansökningsomgång,Beslut,Utbildningsanordnare,Utbildningsnamn,Utbildningsområde,YH-poäng,Beviljade platser,Beviljade platser totalt,Start,Län,Kommun,Antal kommuner,Flera kommuner
0,MYH 2024/1000,2024,False,Changemaker Educations AB,Futuregames Accessible Game Production,Juridik,25,0,0,2024,Stockholm,Stockholm,3,True
1,MYH 2024/1000,2024,False,Changemaker Educations AB,Futuregames Accessible Game Production,Juridik,25,0,0,2024,Norrbotten,Boden,3,True
2,MYH 2024/1000,2024,False,Changemaker Educations AB,Futuregames Accessible Game Production,Juridik,25,0,0,2024,Skåne,Malmö,3,True
3,MYH 2024/1001,2024,False,Changemaker Educations AB,Futuregames Inclusive Game Development,"Ekonomi, administration och försäljning",25,0,0,2024,Skåne,Malmö,3,True
4,MYH 2024/1001,2024,False,Changemaker Educations AB,Futuregames Inclusive Game Development,"Ekonomi, administration och försäljning",25,0,0,2024,Norrbotten,Boden,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457,MYH 2024/997,2024,False,INSU AB,"Säkerhetsprojektering- brand-, inbrott-, kamer...",Säkerhetstjänster,95,0,0,2024,Södermanland,Nyköping,1,False
1458,MYH 2024/998,2024,True,Campus Nyköping,Hälsofrämjande och pedagogiska insatser med häst,"Lantbruk, djurvård, trädgård, skog och fiske",50,24,24,2024,Södermanland,Nyköping,1,False
1459,MYH 2024/999,2024,False,Changemaker Educations AB,Futuregames Accessible Game Design,Data/IT,25,0,0,2024,Skåne,Malmö,3,True
1460,MYH 2024/999,2024,False,Changemaker Educations AB,Futuregames Accessible Game Design,Data/IT,25,0,0,2024,Norrbotten,Boden,3,True
1461,MYH 2024/999,2024,False,Changemaker Educations AB,Futuregames Accessible Game Design,Data/IT,25,0,0,2024,Stockholm,Stockholm,3,True

In [298]:
def create_rel_kurser_alla_kommuner(con, years: list[int] | int | None = None, *, distinct=False):
    if not years:
        years = None
    elif isinstance(years, int):
        years = [years]

    rel_all = con.sql(
        """
        with kurser_alla_kommuner as (

        select
            "Diarienummer",
            "Ansökningsomgång",
            "Beslut",
            "Utbildningsanordnare",
            "Utbildningsnamn",
            "Utbildningsområde",
            "YH-poäng",
            "Beviljade platser",
            "Beviljade platser totalt",
            "Start",
            "Län",
            "Kommun",
            "Antal kommuner",
            "Flera kommuner"
        from kurser_beslut kb
        where
            "Flera kommuner" is not TRUE
            -- and kb."Ansökningsomgång" = 2024
            and ( $year IS NULL OR kb."Ansökningsomgång" = ANY($year) )
        
        union all

        select
            kb."Diarienummer",
            kb."Ansökningsomgång",
            kb."Beslut",
            kb."Utbildningsanordnare",
            kb."Utbildningsnamn",
            kb."Utbildningsområde",
            kb."YH-poäng",
            kb."Beviljade platser",
            kb."Beviljade platser totalt",
            kb."Start",
            kk."Län",                -- kurser_kommun
            kk."Kommun",             -- kurser_kommun
            kb."Antal kommuner",
            kb."Flera kommuner"
        from kurser_beslut kb
        -- join (select distinct "Diarienummer", "Kommun", "Län" from kurser_kommun) kk
        join kurser_kommun kk
            on kk."Diarienummer" = kb."Diarienummer"
        where
            kb."Flera kommuner" is TRUE
            and ( $year IS NULL OR kb."Ansökningsomgång" = ANY($year) )

        )
        select
            -- distinct on ("Diarienummer", "Kommun")
            *
        from kurser_alla_kommuner
        order by "Diarienummer"
        ;""",
        params={"year": years})

    if distinct:
        rel_distinct = con.sql(
            """
            select distinct on ("Diarienummer", "Kommun")
                "Diarienummer",
                "Ansökningsomgång",
                "Beslut",
                "Utbildningsanordnare",
                "Utbildningsnamn",
                "Utbildningsområde",
                "YH-poäng",
                -- "Beviljade platser",
                "Beviljade platser totalt",
                -- "Start",
                "Län",
                "Kommun",
                "Antal kommuner",
                "Flera kommuner"
            from rel_all
            ;""")

        return rel_distinct

    return rel_all

create_rel_kurser_alla_kommuner(con, years=2024, distinct=True).df()

,Diarienummer,Ansökningsomgång,Beslut,Utbildningsanordnare,Utbildningsnamn,Utbildningsområde,YH-poäng,Beviljade platser totalt,Län,Kommun,Antal kommuner,Flera kommuner
0,MYH 2024/1007,2024,False,Plushögskolan AB - Affärshögskolan,Hållbara inköps- och upphandlingsprocesser,"Ekonomi, administration och försäljning",45,0,Västra Götaland,Göteborg,5,True
1,MYH 2024/1009,2024,True,Plushögskolan AB - Affärshögskolan,Strategisk hållbarhetsutveckling,"Ekonomi, administration och försäljning",45,100,Örebro,Örebro,4,True
2,MYH 2024/1016,2024,True,Plushögskolan AB - Vårdyrkeshögskolan,"E-hälsa, digitalisering och välfärdsteknik ino...",Hälso- och sjukvård samt socialt arbete,50,50,Västra Götaland,Åmål,5,True
3,MYH 2024/1019,2024,True,Plushögskolan AB - Vårdyrkeshögskolan,Psykisk hälsa och suicidprevention,Hälso- och sjukvård samt socialt arbete,30,50,Västra Götaland,Uddevalla,5,True
4,MYH 2024/1021,2024,False,Plushögskolan AB - Vårdyrkeshögskolan,SRHR och funktionsnedsättning,Hälso- och sjukvård samt socialt arbete,50,0,Västra Götaland,Göteborg,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1197,MYH 2024/968,2024,False,INSU AB,Sprinklerprojektering,Samhällsbyggnad och byggteknik,80,0,Södermanland,Katrineholm,1,False
1198,MYH 2024/976,2024,True,Folkuniversitetet - Stiftelsen Kursverksamhete...,GIS Data Mastery: Mobil Insamling och Visualis...,Samhällsbyggnad och byggteknik,30,15,Gävleborg,Gävle,1,False
1199,MYH 2024/977,2024,False,Folkuniversitetet - Stiftelsen Kursverksamhete...,GIS Essentials: Grundläggande tekniker och til...,Samhällsbyggnad och byggteknik,30,0,Gävleborg,Gävle,1,False
1200,MYH 2024/986,2024,True,IHM Business School AB Göteborg,AI-driven marknadsföring och kommunikation,"Ekonomi, administration och försäljning",40,140,Stockholm,Stockholm,1,False
1201,MYH 2024/999,2024,False,Changemaker Educations AB,Futuregames Accessible Game Design,Data/IT,25,0,Stockholm,Stockholm,3,True