## EDA_ for Resultat för kurser

In [4]:
import pandas as pd

df_2024 = pd.read_excel("data/resultat-2024-for-kurser-inom-yh.xlsx", sheet_name="Lista ansökningar")

df_2024.head()

,Diarienummer,Beslut,Anordnare namn,Utbildningsnamn,Utbildningsområde,Antal beviljade platser start 2024,Antal beviljade platser start och slut 2024,Antal beviljade platser start 2025,Totalt antal beviljade platser,YH-poäng,Kommun,Län,FA-region,Antal kommuner,Antal län,Antal FA-regioner
0,MYH 2024/1000,Avslag,Changemaker Educations AB,Futuregames Accessible Game Production,Juridik,0,0,0,0,25,"Se ""Lista flera kommuner""","Se ""Lista flera kommuner""","Se ""Lista flera kommuner""",3,3,3
1,MYH 2024/1001,Avslag,Changemaker Educations AB,Futuregames Inclusive Game Development,"Ekonomi, administration och försäljning",0,0,0,0,25,"Se ""Lista flera kommuner""","Se ""Lista flera kommuner""","Se ""Lista flera kommuner""",3,3,3
2,MYH 2024/1002,Avslag,Båstads kommun Akademi Båstad,Ekosystemtjänster i praktiken,"Lantbruk, djurvård, trädgård, skog och fiske",0,0,0,0,50,Båstad,Skåne,Malmö-Lund,1,1,1
3,MYH 2024/1003,Avslag,Båstads kommun Akademi Båstad,Hållbar dagvattenhantering i praktiken,"Lantbruk, djurvård, trädgård, skog och fiske",0,0,0,0,50,Båstad,Skåne,Malmö-Lund,1,1,1
4,MYH 2024/1004,Avslag,Båstads kommun Akademi Båstad,Invasiva växter i utemiljöer,"Lantbruk, djurvård, trädgård, skog och fiske",0,0,0,0,25,Båstad,Skåne,Malmö-Lund,1,1,1

In [5]:
df_2024.shape

(880, 16)

In [6]:
df_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 880 entries, 0 to 879
Data columns (total 16 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Diarienummer                                 880 non-null    object
 1   Beslut                                       880 non-null    object
 2   Anordnare namn                               880 non-null    object
 3   Utbildningsnamn                              880 non-null    object
 4   Utbildningsområde                            880 non-null    object
 5   Antal beviljade platser start 2024           880 non-null    int64
 6   Antal beviljade platser start och slut 2024  880 non-null    int64
 7   Antal beviljade platser start 2025           880 non-null    int64
 8   Totalt antal beviljade platser               880 non-null    int64
 9   YH-poäng                                     880 non-null    int64
 10  Kommun                                       880 non-null    object
 11  Län                                          880 non-null    object
 12  FA-region                                    880 non-null    object
 13  Antal kommuner                               880 non-null    int64
 14  Antal län                                    880 non-null    int64
 15  Antal FA-regioner                            880 non-null    int64
dtypes: int64(8), object(8)
memory usage: 110.1+ KB

In [3]:
df_2024.describe()

,Antal beviljade platser start 2024,Antal beviljade platser start och slut 2024,Antal beviljade platser start 2025,Totalt antal beviljade platser,YH-poäng,Antal kommuner,Antal län,Antal FA-regioner
count,880.000000,880.000000,880.000000,880.000000,880.000000,880.000000,880.000000,880.000000
mean,9.462500,8.592045,9.171591,27.226136,41.563636,1.365909,1.343182,1.343182
std,17.835768,16.118678,17.092104,33.113759,19.014169,0.896319,0.862807,0.870682
min,0.000000,0.000000,0.000000,0.000000,10.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,30.000000,1.000000,1.000000,1.000000
50%,0.000000,0.000000,0.000000,16.500000,40.000000,1.000000,1.000000,1.000000
75%,2.500000,4.750000,2.500000,48.500000,50.000000,1.000000,1.000000,1.000000
max,100.000000,80.000000,80.000000,160.000000,99.000000,5.000000,5.000000,5.000000

In [7]:
df_2024["Utbildningsområde"].value_counts().head()

Utbildningsområde
Ekonomi, administration och försäljning    221
Data/IT                                    157
Teknik och tillverkning                    121
Hälso- och sjukvård samt socialt arbete    109
Samhällsbyggnad och byggteknik             105
Name: count, dtype: int64

In [21]:
import duckdb

# Query example: Get top 5 fields by total students
duckdb.query("""
SELECT "Utbildningsområde", 
       SUM("Platser med start 2020" + "Platser med start 2021") AS total_students
FROM df
GROUP BY "Utbildningsområde"
ORDER BY total_students DESC
;
""").df()

                               Utbildningsområde  total_students
0        Ekonomi, administration och försäljning          1620.0
1                                        Data/IT          1415.0
2                        Teknik och tillverkning          1326.0
3        Hälso- och sjukvård samt socialt arbete          1016.0
4                 Samhällsbyggnad och byggteknik           824.0
5                  Hotell, restaurang och turism           240.0
6                              Säkerhetstjänster           227.0
7                       Kultur, media och design           186.0
8                              Transporttjänster           120.0
9                     Pedagogik och undervisning            60.0
10  Lantbruk, djurvård, trädgård, skog och fiske            50.0

In [10]:
df_2024.groupby("Utbildningsområde")